$base-black: #000000;
$base-darkpurple: #3D2645;
$base-mediumpurple: #832161;
$base-hotpink: #DA4167;
$base-white: #F0EFF4;


.bg-black {
    background-color: $base-black;
}

.bg-darkpurple {
    background-color: $base-darkpurple;
}

.bg-mediumpurple {
    background-color: $base-mediumpurple;
}

.bg-hotpink {
    background-color: $base-hotpink;
}

.bg-white {
    background-color: $base-white;
}