$base-black: #000000;
$base-darkpurple: #3D2645;
$base-mediumpurple: #832161;
$base-hotpink: #DA4167;
$base-white: #F0EFF4;

$red: #ff0000;

$transparent-white-10: hsla(0, 0%, 100%, 0.1);
$transparent-white-20: hsla(0, 0%, 100%, 0.2);
$transparent-white-30: hsla(0, 0%, 100%, 0.3);


.clr-black {
    color: $base-black;
}

.clr-darkpurple {
    color: $base-darkpurple;
}

.clr-mediumpurple {
    color: $base-mediumpurple;
}

.clr-hotpink {
    color: $base-hotpink;
}

.clr-white {
    color: $base-white;
}

.clr-red {
    color: $red;
}

.bg-black {
    background-color: $base-black;
}

.bg-darkpurple {
    background-color: $base-darkpurple;
}

.bg-mediumpurple {
    background-color: $base-mediumpurple;
}

.bg-hotpink {
    background-color: $base-hotpink;
}

.bg-white {
    background-color: $base-white;
}

.bg-red {
    background-color: $red;
}