@import "/src/css/_colorpalette.scss";

.panel-list-vertical {
    min-width: 330px;
    height: fit-content;

    display: flex;
    flex-flow: column wrap;
    gap: 2px;
    z-index:2;
    .title-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        background: $base-mediumpurple;

        .title {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;

            color: $base-white;

            font-size: 20px;
            font-weight: bolder;
        }
    }
    .items-container {
        display: flex;
        flex-flow: column wrap;
        gap: 2px;
    }

}