@import "/src/css/_colorpalette.scss";

.enemy-spawner {
    width: 100vw;

    display: flex;
    flex-flow: column wrap;
    .top {
        padding: 10px;

        display: flex;
        flex-grow: 1;

        font-size: large;
        font-weight: bold;
    }
    .bottom {
        display: flex;
        flex-flow: row wrap;

        .left {
            display: flex;
        }
    
        .right {
            padding: 0px 15px;

            display: flex;
            flex-grow: 1;
        }
    }
    
}