@import "/src/css/_colorpalette.scss";

.enemy-spawner {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-flow: column;
    .top {
        padding: 10px;

        display: flex;

        font-size: large;
        font-weight: bold;
    }
    .bottom {
        padding-bottom: 10px;
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        max-height: 100vh;

        .left {
            display: flex;
        }
    
        .right {
            padding: 0px 15px;

            display: flex;
            flex-flow: column;
            flex-grow: 1;
        }
    }
    
}