@import "/src/css/_colorpalette.scss";

.tile-image-display-container {
    margin-top: 10px;

    // display: block;
    display: flex;
    flex-flow: row;
    flex: 1 0;
    align-items: center;
    justify-content: space-evenly;
    // min-width: 0;
    // overflow: hidden;

    .tile-image-container2 {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-evenly;

        img {
            // width: 600px;
            max-width: calc(min(100%, 60vh));
            max-height:100%;
            height: auto;
            width:auto;
            object-fit: cover;
    
            // display: flex;
            flex: 1 1;
        }
    }
    
    .spawn-point {
        position: absolute;

        width: 25px;
        height: 25px;

        border-radius: 50%;

        // cursor: grab;
        user-select: none;

        text-align: center;
        font-weight: bold;
    }

}